/*map control*/
.emap{width:100%;height: 100%;}
.emap .emap_tools{
	position: absolute;
	top: 10px;
	right: 10px;
	border: 1px solid #CFCFCF;
	background-color:#FFF; 
	/*box-shadow: 2px 2px 2px -1px #bbb;*/
}
.emap .emap_tools > div{
	cursor: pointer;
	float: left;
	border: 1px solid #999999;
	width: 40px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 12px;
}
.emap .emap_tools .selected {
	background-color: #dfe8f6;
}
.emap .emap_tools > div:hover {
	background-color: #dfe8f6;
}
/*marker*/
.emap .emap_icon_label_marker{
  cursor: pointer;
  -moz-user-select:none;
  -webkit-user-select:none;
   user-select:none;    
   -z-index: 50;
}
.emap .emap_icon_label_marker div{
	background-color: #dfe8f6;
	margin: -20px 30px;
	border: 1px solid #999999;
	font-size: 8px;
	padding: 2px 7px 2px 7px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.emap .emap_label_marker{
  cursor: pointer;
  -moz-user-select:none;
  -webkit-user-select:none;
   user-select:none;    
}
/*popu window*/

.emap .popup-window{
		display: block;
        position: relative;
        background-color: #dfe8f6;
        -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #999999;
        font-size: 8px;
        bottom: 12px;
        left: -50px;
        z-index: 100;
        max-width: 300px;
  		min-height: 100px;
}

.emap .popup-window:after, .popup-window:before {
       content:'';
              position:absolute;
      }
.emap .popup-window:after {
  border:10px  solid transparent;
  border-top-color:#dfe8f6;
  top:100%;
  left: 48px;
  margin-left: -10px;
}
.emap .popup-window:before {
	 border:11px solid transparent;
  border-top-color:#999999;
  top:100%;
  left: 48px;
  margin-left: -11px;
}
.emap .popup-window .title{
	font-weight: bold;
	text-decoration: none;
	position: absolute;
	top: 2px;
	left: 8px;
}
.emap .popup-window .close {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}
.emap .popup-window .close:after {
	content: "×";
}
.emap .popup-window .content {
	padding-top: 5px;
	max-width: 300px;
  min-width: 300px;
  word-break: break-all;
}
/**画线和区域时的提示信息样式*/
.emap .draw-info{
       background-color: #ffcc33;
       color: black;
       border: 1px solid white;
       position: relative;
       background: rgba(15, 2, 37, 0.5);
       border-radius: 4px;
       color: white;
       padding: 4px 8px;
       white-space: nowrap; 
        position: absolute;
        z-index: 1030;
        display: block;
        visibility: visible;
        font-size: 11px;
        line-height: 1.4;
}
.emap .draw-info:before {
        border-top: 6px solid rgba(0, 0, 0, 0.5);
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        content: "";
        position: absolute;
        bottom: -6px;
        margin-left: -7px;
        left: 50%;
      }
